* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	outline: none;
}

.sound-wave {
	border-radius: 16px;
	max-height: 50px;
	width: 50%;
	flex: 1;
	min-height: 50px;
}
