* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	outline: none;
}
::-webkit-scrollbar {
	display: none;
}
.sound-wave {
	border-radius: 16px;
	max-height: 50px;
	width: 50%;
	flex: 1;
	min-height: 50px;
}

@keyframes hide {
	0% {
		opacity: 1;
		transform: translateX(0);
		z-index: 1;
	}
	50% {
		opacity: 1;
		transform: translateX(-25vw) rotate(-30deg) scale(0.75);
		z-index: -1;
	}
	90% {
		opacity: 0;
		transform: translateX(-25vw) rotate(-30deg) scale(0.75);
		z-index: -1;
	}
}

@keyframes shake {
	0% {
		transform: translateX(-10%);
	}
	20% {
		transform: translateX(10%);
	}
	40% {
		transform: translateX(-10%);
	}
	60% {
		transform: translateX(10%);
	}
	80% {
		transform: translateX(0%);
	}
}
